.catalog__nav {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.catalog__heading {
  margin-right: 39px;
}

.catalog__button-list {
  display: flex;
  align-items: center;
  padding-top: 8px;
}

.catalog__button-list-item:not(:last-child) {
  margin-right: 46px;
}

.catalog__button {
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog__button_france {
  background-image: url('../img/catalog/catalog_france.png');
}

.catalog__button_germany {
  background-image: url('../img/catalog/catalog_germany.png');
}

.catalog__button_italy {
  background-image: url('../img/catalog/catalog_italy.png');
}

.catalog__button_russia {
  background-image: url('../img/catalog/catalog_russia.png');
}

.catalog__button_belgium {
  background-image: url('../img/catalog/catalog_belgium.png');
}

.catalog__description {
  margin-bottom: 40px;
  max-width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--dark-gray);
}

.catalog__tab_big {
  display: none;
  flex-direction: column;
}

.catalog__lower {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.catalog__lower-left {
  width: 46.8%;
  margin-right: 10px;
}

.catalog__lower_other .artist-list__not-available {
  display: block;
}

.catalog__lower_russia .artist-list__not-available {
  flex-direction: column;
  justify-content: flex-end;
}

.catalog-artist {
  display: none;
}

.catalog-artist.catalog-artist_active {
  display: block;
}

.catalog-artist__img-container {
  margin-bottom: 27px;
}

.artist-list__img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog-artist__img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artist-list__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.not-available__heading  {
  margin-bottom: 15px;
}

.not-available__description {
  margin-bottom: 15px;
}

.not-available__link {
  color: var(--purple);
}

.catalog__smaller-heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--dark-gray);
}

.catalog-artist__name {
  margin-bottom: 6px;
}

.catalog-artist__age {
  display: inline-block;
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--light-gray);
}

.catalog__smaller-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--dark-gray);
}

.catalog__time-table {
  width: 50%;
}

.ui-widget {
  font-family: 'Open Sans', sans-serif;
}

.ui-accordion .ui-accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-top: -1px;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  border: none;
  border-radius: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--light-gray);
  background: transparent;
}

.ui-accordion .ui-accordion-header.time-table__period_first {
  border-top: 1px solid var(--light-gray);
}

.ui-accordion-header .button {
  position: relative;
}

.time-table__heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--dark-gray);
}

.ui-accordion-header-icon {
  display: none;
}

.ui-icon-triangle-1-e {
  display: none;
}

.time-table__icon {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: var(--catalog-button-gray);
  transition: border .3s ease-in-out;
	transition: background-color .3s ease-in-out;
}

.time-table__icon::before {
  content: '';
  position: absolute;
  top: 17px;
  left: 16.4px;
  width: 13px;
  height: 13px;
  background: url('../img/catalog/catalog_arrow_down.svg') center / contain no-repeat transparent;
  transition: transform .3s ease-in-out;
}

.ui-accordion .ui-accordion-content {
  padding: 25px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  background: transparent;
}

.ui-widget button {
  font-family: 'Open Sans', sans-serif;
  font-size: inherit;
}

.time-table__list {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  columns: auto 3;
  column-fill: auto;
  column-gap: 30px;
  height: 338px;
  color: var(--dark-gray);
  border-bottom: 1px solid var(--light-gray);
}

.time-table__list-button {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--dark-gray);
}

.time-table__not-available {
  display: flex;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid var(--light-gray);
}

.time-table__not-available_last {
  border-bottom: none;
}

.not-available__img {
  margin-right: 24px;
  width: 275px;
  height: 189px;
  background-color: var(--not-available-gray);
  outline: 12px solid #fff;
  outline-offset: -14px;
}

.not-available__heading {
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
}

.not-available__description-list {
  margin-bottom: 5px;
  max-width: 275px;
  font-family: 'Open Sans', sans-serif;
  line-height: 21px;
}
