@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans-v20-cyrillic-regular.woff2') format('woff2'),
    url('../fonts/open-sans-v20-cyrillic-regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans-v20-cyrillic-italic.woff2') format('woff2'),
    url('../fonts/open-sans-v20-cyrillic-italic.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans-v20-cyrillic-600.woff2') format('woff2'),
    url('../fonts/open-sans-v20-cyrillic-600.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans-v20-cyrillic-700.woff2') format('woff2'),
    url('../fonts/open-sans-v20-cyrillic-700.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

:root {
  --dark-purple: #7943a4;
  --purple: #9d5cd0;
  --lavender: #c283f3;
  --light-purple: #d1a9f0;
  --graphite: #18171b;
  --dark-gray: #333;
  --gray: #666;
  --light-gray: #999;
  --not-available-gray: #b7b7b7;
  --border-gray: #cacaca;
  --catalog-button-gray: #ececec;
}

.body {
  background-color: #fff;
}

.section {
  margin-bottom: 80px;
}

.container {
  max-width: 1703px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:visited {
  color: inherit;
}

.button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.heading {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.swiper-container {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    margin-bottom: 50px;
  }
}
  