.violet-bg-focus:focus:not(:active),
.violet-bg-focus:focus:not(:hover) {
  color: #fff;
  background: var(--dark-purple);
}

.violet-bg-focus:focus:not(:active)::before,
.violet-bg-focus:focus:not(:hover)::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  border: 6px solid var(--dark-purple);
}

/* ----------- HEADER ----------- */

/* HEADER-UPPER */

.header__logo:focus::before {
	content: '';
	position: absolute;
	top: -15px;
	left: -15px;
	bottom: -15px;
	right: -15px;
	border: 2px solid var(--dark-purple);
}

.header-menu__link:hover {
	color: var(--purple);
	transition: color .3s ease-in-out;
}

.header-menu__link:active {
	color: var(--dark-purple);
	transition: color .3s ease-in-out;
}

.header__login:focus:not(:active) svg path,
.header__login:focus:not(:hover) svg path {
  fill: #fff;
}

.header__login:hover {
	color: var(--purple);
	transition: color .3s ease-in-out;
}

.header__login:hover svg path {
	fill: var(--purple);
	transition: fill .3s ease-in-out;
}

.header__login:active {
	color: var(--dark-purple);
	transition: color .3s ease-in-out;
}

.header__login:active svg path {
	fill: var(--dark-purple);
	transition: fill .3s ease-in-out;
}

/* HEADER-LOWER */

.artstyle-list__button:focus:not(:active) .artstyle-list__icon path,
.artstyle-list__button:focus:not(:hover) .artstyle-list__icon path {
	stroke: #fff;
}

.artstyle-list__button:hover {
	color: var(--purple);
	transition: color 0.3s ease-in-out;
}

.artstyle-list__button:hover .artstyle-list__icon path {
	stroke: var(--purple);
	cursor: pointer;
	transition: stroke 0.3s ease-in-out;
}

.active-art-list-item:not(:hover) {
	color: var(--dark-purple);
	transition: color 0.3s ease-in-out;
}

.artstyle-list__button-active svg {
	transform: rotate(180deg);
	transition: all 0.3s ease-in-out;
}

.artstyle-list__button-active svg path {
	stroke: var(--dark-purple);
	transition: all 0.3s ease-in-out;
}

.artstyle-sub-list__link:focus:not(:active),
.artstyle-sub-list__link:focus:not(:hover) {
  width: 220px;
	outline: 2px solid var(--purple);
	outline-offset: -2px;
}

.artstyle-sub-list__item:hover {
	outline: 2px solid var(--purple);
	outline-offset: -2px;
}

.artstyle-sub-list__item:active {
	box-shadow: inset 0 0 0 1000px rgba(194, 131, 243, 0.4);
	outline: 2px solid var(--light-purple);
	outline-offset: -2px;
}

.search-box__input:focus:not(:active),
.search-box__input:focus:not(:hover) {
	border-bottom: 1px solid var(--dark-purple);
	transition: border-bottom .3s ease-in-out;
}

.search-box__input:hover {
	border-bottom: 1px solid var(--lavender);
	transition: border-bottom .3s ease-in-out;
}

.search-box__input::placeholder {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	transform: translate(-2px, 0);
}

.search-box__input::-moz-placeholder {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.search-box__input:-moz-placeholder {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.search-box__input:-ms-placeholder {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.search-box__input:focus::placeholder {
	color: transparent;
}

.search-box__input:focus::-moz-placeholder {
	color: transparent;
}

.search-box__input:focus:-moz-placeholder {
	color: transparent;
}

.search-box__input:focus:-ms-placeholder {
	color: transparent;
}

/* ----------- HERO ----------- */

.hero__subscribe:focus:not(:active),
.hero__subscribe:focus:not(:hover) {
  border: 3px solid transparent;
  background-color: var(--purple);
}

.hero__subscribe:focus:not(:active)::before,
.hero__subscribe:focus:not(:hover)::before {
  content: '';
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  border: 2px solid var(--lavender);
  border-radius: 100px;
}

.hero__subscribe:hover {
  border: 3px solid var(--light-purple);
  transition: border .3s ease-in-out;
}

.hero__subscribe:active {
  background-color: var(--dark-purple);
  border: 3px solid var(--light-purple);
  transition: border .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

/* ----------- GALLERY ----------- */

.gallery-form__checkbox:focus:not(:active) + label,
.gallery-form__checkbox:focus:not(:hover) + label {
	color: var(--lavender);
}

.gallery-form__checkbox:focus:not(:active) + label::before,
.gallery-form__checkbox:focus:not(:hover) + label::before {
  border-color: var(--lavender);
}

.gallery-form__checkbox:hover + label::before {
  border-color: var(--lavender);
}

.gallery .swiper-slide::before {
  transition: background-color .3s ease-in-out;
}

.gallery .swiper-slide::after {
  transition: background-image .3s ease-in-out;
}

.gallery .swiper-slide .gallery__swiper-link:focus:not(:active),
.gallery .swiper-slide .gallery__swiper-link:focus:not(:hover) {
  outline: 3px solid var(--dark-purple);
  outline-offset: -3px;
}

.gallery .swiper-slide:hover::before {
  content: '';
  position: absolute;
  top: 25px;
  left: 25px;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color .3s ease-in-out;
}

.gallery .swiper-slide:hover::after {
  content: '';
  position: absolute;
  top: 127px;
  left: 135px;
  width: 81px;
  height: 79px;
  background-image: url('../img/gallery/gallery_enlarge.svg');
  transition: background-image .3s ease-in-out;
}

.gallery .swiper-slide:active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 25px solid rgba(194, 131, 243, 0.4);
  transition: background-color .3s ease-in-out;
}

.gallery .swiper-slide:active::after {
  content: '';
  position: absolute;
  top: 127px;
  left: 135px;
  width: 81px;
  height: 79px;
  background-image: url('../img/gallery/gallery_enlarge.svg');
  transition: background-image .3s ease-in-out;
}


/* ----------- CATALOG ----------- */

.catalog__button:focus:not(:active),
.catalog__button:focus:not(:hover) {
	filter: drop-shadow(0 0 20px rgba(157, 92, 208, 0.7));
}

.catalog__button:hover {
	filter: drop-shadow(0 0 20px rgba(157, 92, 208, 0.7));
}

.catalog__button:active {
	border: 2px solid var(--dark-purple);
	filter: none;
}

.catalog__button.active::before {
	content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
  border: 2px solid var(--dark-purple);
	border-radius: 50%;
}

.ui-state-focus:not(:hover) .button,
.ui-state-focus:not(:active) .button {
	background-color: var(--purple);
}

.ui-state-focus:not(:hover) .button::before,
.ui-state-focus:not(:active) .button::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  border: 2px solid var(--purple);
}

.ui-state-focus:not(:hover) .button h3,
.ui-state-focus:not(:active) .button h3 {
	color: #fff;
}

.ui-state-focus:not(:hover) span,
.ui-state-focus:not(:active) span {
	background-color: var(--light-purple);
}

.ui-state-hover {
	border-color: var(--purple);
}

.ui-state-hover .button h3 {
	color: var(--purple);
}

.ui-state-hover span {
	background-color: var(--light-purple);
}

.ui-state-active {
	border-color: var(--dark-purple);
}

.ui-state-active .button h3 {
	color: var(--dark-purple);
}

.ui-state-active span {
	border: 2px solid var(--dark-purple);
	background-color: var(--light-purple);
}

.ui-state-active span::before {
	top: 17px;
	left: 16.4px;
	transform: rotate(180deg);
}

@media screen and (max-width: 767px) {
	.ui-state-active span::before {
		top: 10px;
		left: 9.5px;
	}
}

.time-table__list-button:focus:not(:active),
.time-table__list-button:focus:not(:hover) {
	background-color: var(--purple);
}

.time-table__list-button:focus:not(:active)::before,
.time-table__list-button:focus:not(:hover)::before {
  display: none;
}

.time-table__list-button:hover {
	color: var(--purple);
	border-bottom: 1px solid var(--purple);
}

.time-table__list-button:active {
	color: var(--dark-purple);
	border-bottom: none;
}

/* ----------- EVENTS ----------- */

.events__link:focus:not(:active),
.events__link:focus:not(:hover) {
	color: #fff;
	background-color: var(--purple);
}

.events__link:hover {
	color: var(--purple);
	text-decoration-color: var(--purple);
	transition: color .3s ease-in-out;
  transition: text-decoration-color .3s ease-in-out;
}

.events__link:active {
	color: var(--dark-purple);
	text-decoration-color: var(--dark-purple);
	transition: color .3s ease-in-out;
  transition: text-decoration-color .3s ease-in-out;
}

.events__link:visited {
	color: var(--dark-purple);
}

/* ----------- PROJECTS ----------- */

.projects__description-link:focus:not(:active),
.projects__description-link:focus:not(:hover) {
	background-color: var(--purple);
}

.projects__description-link:hover {
	color: var(--purple);
	text-decoration: underline;
	text-decoration-color: var(--purple);
	transition: color .3s ease-in-out;
  transition: text-decoration .3s ease-in-out;
  transition: text-decoration-color .3s ease-in-out;
}

.projects__description-link:active {
	color: var(--dark-purple);
	text-decoration: underline;
	text-decoration-color: var(--dark-purple);
	transition: color .3s ease-in-out;
  transition: text-decoration .3s ease-in-out;
  transition: text-decoration-color .3s ease-in-out;
}

.projects__description-link:visited {
	color: var(--dark-purple);
}

.projects__swiper-slide:focus:not(:active),
.projects__swiper-slide:focus:not(:hover) {
	border: 1px solid var(--purple);
}

.projects__swiper-link:hover img {
  filter: none;
	transition: filter .3s ease-in-out;
}

.projects__swiper-slide:active {
	border: 1px solid var(--purple);
	transition: border .3s ease-in-out;
}

.projects__swiper-link:active img {
  filter: none;
	transition: filter .3s ease-in-out;
}

/* ----------- CONTACTS ----------- */

.contacts__input:focus:not(:active),
.contacts__input:focus:not(:hover) {
	background-color: var(--catalog-button-gray);
}

.contacts__input:hover {
	background-color: var(--catalog-button-gray);
	transition: background-color .3s ease-in-out;
}

.contacts__form_button:focus:not(:active),
.contacts__form_button:focus:not(:hover) {
	color: #fff;
	background-color: var(--purple);
	transition: color .3s ease-in-out;
	transition: background-color .3s ease-in-out;
}

.contacts__form_button:hover {
	color: #fff;
	background-color: var(--purple);
	transition: color .3s ease-in-out;
	transition: background-color .3s ease-in-out;
}

.contacts__form_button:active {
	color: #fff;
	background-color: var(--dark-purple);
	border-color: var(--dark-purple);
	transition: color .3s ease-in-out;
	transition: background-color .3s ease-in-out;
	transition: border-color .3s ease-in-out;
}

.contacts__sm-link:focus:not(:active),
.contacts__sm-link:focus:not(:hover) {
	box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.5);
}

.contacts__sm-link:hover {
	box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.5);
	transition: box-shadow .3s ease-in-out;
}

.contacts__sm-link:active {
	border: 1px solid var(--purple);
	border-radius: 50%;
	box-shadow: none;
	transition: border .3s ease-in-out;
	transition: box-shadow .3s ease-in-out;
}

/* ----------- FOOTER ----------- */

.footer__logo:focus::before {
	content: '';
	position: absolute;
	top: -15px;
	left: -15px;
	bottom: -15px;
	right: -15px;
	border: 2px solid var(--dark-purple);
}

.footer__link:focus:not(:active) svg path,
.footer__link:focus:not(:hover) svg path {
	fill: #fff;
}

.footer__link:hover svg path {
	fill: #fff;
	transition: fill .3s ease-in-out;
}

.footer__link:active svg path {
	fill: var(--purple);
	transition: fill .3s ease-in-out;
}