.header {
	position: absolute;
	width: 100%;
	z-index: 25;
}

/* HEADER-UPPER */

.header__upper {
	background-color: #000;
}

.header__container-upper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 28px;
	padding-bottom: 28px;
}

.header-burger {
	display: none;
}

.header__logo {
	position: relative;
	flex: 0 0 173px;
	margin-right: 11%;
	transform: translate(1px, 2px);
}

.header__logo_img {
	width: 100%;
}

.header__burger-menu {
	display: flex;
	justify-content: space-between;
	flex: 2;
}

.header__nav {
	width: 72%;
}

.header-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-menu__item {
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.header-menu__link {
	position: relative;
	white-space: nowrap;
	transition: color .3s ease-in-out;
}

.header-menu__item:not(:last-child) {
	margin-right: 15px;
}

.header__login {
	position: relative;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	transition: color .3s ease-in-out;
	transition: fill .3s ease-in-out;
}

.header__login svg {
	margin-right: 4px;
}

.header-upper__form-container {
	display: none;
}

/* HEADER-LOWER */

.header__lower {
	background-color: rgba(0, 0, 0, 0.4);
}

.header__container-lower {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 23px;
	padding-bottom: 23px;
}

.artstyle-list {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 65.5%;
}

.artstyle-list .artstyle-sub-list {
	z-index: 1;
}

.artstyle-list__item {
	position: relative;
	margin-right: 15px;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.artstyle-list__button svg {
	margin-left: -2px;
}

.artstyle-list__button {
	position: relative;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	transition: color 0.3s ease-in-out;
}

.artstyle-list__button .artstyle-list__icon path {
	transition: stroke 0.3s ease-in-out;
}

.artstyle-list__icon {
	transition: all 0.3s ease-in-out;
}

.dropdown {
	position: absolute;
	left: -4px;
	top: 47px;
	padding: 40px;
	background-color: rgba(0, 0, 0, 0.4);
	visibility: hidden;
	opacity: 0;
	transition-property: opacity, visibility;
	transition-duration: .3s, 0s;
	transition-delay: 0s, .3s;
	z-index: -1;
}

.dropdown.dropdown-active {
	visibility: visible;
	opacity: 1;
	transition-delay: 0s, 0s;
	cursor: pointer;
}

.dropdown__simplebar {
	width: 220px;
	max-height: 220px;
}

.artstyle-sub-list__item {
	position: relative;
	width: 220px;
	height: 40px;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.artstyle-sub-list__item:not(:last-child) {
	margin-bottom: 20px;
}

.artstyle-sub-list__item_tintoretto {
	background-image: url('../img/header/header_sub_list_tintoretto.png');
}

.artstyle-sub-list__item_frederick {
	background-image: url('../img/header/header_sub_list_frederick.png');
}

.artstyle-sub-list__item_leonardo {
	background-image: url('../img/header/header_sub_list_leonardo.png');
}

.artstyle-sub-list__item_verrocchio {
	background-image: url('../img/header/header_sub_list_verrocchio.png');
}

.artstyle-sub-list__item_monet {
	background-image: url('../img/header/header_sub_list_monet.png');
}

.artstyle-sub-list__item_sisley {
	background-image: url('../img/header/header_sub_list_sisley.png');
}

.artstyle-sub-list__item_manet {
	background-image: url('../img/header/header_sub_list_manet.png');
}

.artstyle-sub-list__item_renoir {
	background-image: url('../img/header/header_sub_list_renoir.png');
}

.artstyle-sub-list__item_van-gogh {
	background-image: url('../img/header/header_sub_list_van-gogh.png');
}

.artstyle-sub-list__item_cezanne {
	background-image: url('../img/header/header_sub_list_cezanne.png');
}

.artstyle-sub-list__item_gauguin {
	background-image: url('../img/header/header_sub_list_gaugin.png');
}

.artstyle-sub-list__item_seurat {
	background-image: url('../img/header/header_sub_list_seurat.png');
}

.artstyle-sub-list__item_kandinsky {
	background-image: url('../img/header/header_sub_list_kandinsky.png');
}

.artstyle-sub-list__item_marinetti {
	background-image: url('../img/header/header_sub_list_marinetti.png');
}

.artstyle-sub-list__item_malevich {
	background-image: url('../img/header/header_sub_list_malevich.png');
}

.artstyle-sub-list__item_picasso {
	background-image: url('../img/header/header_sub_list_picasso.png');
}

.artstyle-sub-list__item_carra {
	background-image: url('../img/header/header_sub_list_carra.png');
}

.artstyle-sub-list__item_pratella {
	background-image: url('../img/header/header_sub_list_pratella.png');
}

.artstyle-sub-list__item_severini {
	background-image: url('../img/header/header_sub_list_severini.png');
}

.artstyle-sub-list__item_balla {
	background-image: url('../img/header/header_sub_list_balla.png');
}

.artstyle-sub-list__link {
	position: absolute;
	padding: 9px 0 12px 14px;
}

.simplebar-track.simplebar-vertical {
	right: -20px;
	width: 2px;
}

.simplebar-vertical {
	width: 2px;
	height: 220px;
	background-color: #000;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar {
	background-color: #fff;
}

.header-lower__form {
	position: relative;
	display: flex;
	transform: translate(-1px, 1px);
}

.search-box__icon {
	margin-right: 12px;
	transform: translate(0, 5px);
}

.search-box__input {
	display: inline-block;
	width: 218px;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	border: none;
	border-bottom: 1px solid #fff;
	background-color: transparent;
	transition: border-bottom .3s ease-in-out;
}