.projects {
  margin-bottom: 0;
  border-bottom: 1px solid var(--border-gray);
}

.projects__container {
  margin-bottom: 80px;
}

.projects__heading {
  margin-bottom: 16px;
}

.projects__description {
  margin-bottom: 30px;
  max-width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--dark-gray);
}

.projects__swiper-heading {
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--dark-gray);
}

.projects__description-icon {
  display: inline-block;
  position: relative;
  top: 4px;
  left: 1px;
  width: 17px;
  height: 17px;
  border: 1px solid var(--purple);
  border-radius: 50%;
  cursor: pointer;
}

.projects__description-icon::after {
  content: 'i';
  position: absolute;
  top: -8px;
  left: 5px;
  color: #000;
}

.projects__description-link {
  color: var(--purple);
  transition: color .3s ease-in-out;
  transition: text-decoration .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  transition: text-decoration-color .3s ease-in-out;
}

.projects__swiper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

.projects__swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.projects__swiper-button {
  position: absolute;
  top: 60px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: var(--catalog-button-gray);
  cursor: pointer;
  z-index: 2;
  transition: border .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.projects__swiper-button-prev {
  left: 0;
}

.projects__swiper-button-next {
  right: 0;
}

.projects__swiper-button-next::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 9px;
  width: 7px;
  height: 7px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
}

.projects__swiper-button-prev::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 11px;
  width: 7px;
  height: 7px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(-135deg);
}

.projects__swiper-button:focus:not(:active),
.projects__swiper-button:focus:not(:hover) {
  border: 2px solid var(--purple);
}

.projects__swiper-button:hover {
  background-color: var(--light-purple);
  transition: background-color .3s ease-in-out;
}

.projects__swiper-button:active {
  border: 2px solid var(--purple);
  background-color: var(--light-purple);
  transition: border .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.projects__swiper .swiper-button-disabled:focus:not(:active),
.projects__swiper .swiper-button-disabled:focus:not(:hover) {
  border: 2px solid transparent;
}

.projects__swiper .swiper-button-disabled::after {
  border-color: var(--border-gray);
}

.projects__swiper-slide {
  width: 26%;
}

.projects__swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 150px;
  border: 1px solid var(--border-gray);
  transition: border .3s ease-in-out;
}

.projects__swiper-link img {
  object-position: center;
  object-fit: cover;
  filter: grayscale(100%) opacity(60%) contrast(0);
  transition: filter .3s ease-in-out;
}

.projects__swiper-img_1 {
  max-width: 244px;
  max-height: 63px;
}

.projects__swiper-img_2 {
  max-width: 330px;
  max-height: 59px;
}

.projects__swiper-img_3 {
  max-width: 229px;
  max-height: 54px;
}

.projects__swiper-img_4 {
  max-width: 123px;
  max-height: 85px;
}

.projects__swiper-img_5 {
  max-width: 173px;
  max-height: 85px;
}

.projects__swiper-img_6 {
  max-width: 252px;
  max-height: 70px;
}

.projects__swiper-img_7 {
  max-width: 286px;
  max-height: 69px;
}

.projects__swiper-img_8 {
  max-width: 185px;
  max-height: 81px;
}

.projects__swiper-link > .projects__swiper-img_9 {
  filter: grayscale(100%) opacity(60%) contrast(100%);
}

.projects__swiper-img_9 {
  max-width: 229px;
  max-height: 62px;
}