/* HEADER */

@media screen and (max-width: 767px) {
  .header__container-upper {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.header-burger {
		width: 25px;
		height: 18px;
	}

	.header-burger span {
		height: 2px;
	}

	.header-burger span:nth-child(1) {
		width: 25px;
		top: 0;
	}

	.header-burger span:nth-child(2) {
		width: 16px;
		top: 8px;
	}

	.header-burger span:nth-child(3) {
		width: 10px;
		top: 16px;
	}

	.header-burger.active span:nth-child(1) {
		top: 8px;
		width: 27px;
	}

	.header-burger.active span:nth-child(3) {
		top: 8px;
		width: 27px;
	}

  .header__burger-menu {
		height: 355px;
		padding-top: 50px;
		padding-left: 15px;
		padding-bottom: 25px;
	}

  .header-menu__item {
		font-size: 16px;
		line-height: 32px;
	}

  .header__login {
		padding: 7px 31px;
    font-size: 12px;
    line-height: auto;
	}

  .header__login svg {
    margin-right: 2px;
    width: 9px;
    height: 9px;
  }

	.header__logo {
		flex: 0 0 97px;
	}

  .header-upper__form-enable {
    width: 18px;
		height: 18px;
  }

  .header-upper__form.active {
    align-items: flex-end;
    padding: 0 57px 20px 57px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .search-box__icon_upper {
    width: 16px;
    height: 16px;
  }

  .search-box__input {
    max-width: 180px;
    width: 180px;
  }

  .search-box__close {
    position: absolute;
    top: 15px;
    right: 15px;
    display: inline-block;
    width: 15px;
    height: 15px;
  }
}

/* HERO */


@media screen and (max-width: 767px) {
  .hero {
    height: 355px;
  }

  .swiper-slide-one {
    background-image: url('../img/hero/img/320/hero_slide_1.png');
  }
  
  .swiper-slide-two {
    background-image: url('../img/hero/img/320/hero_slide_2.png');
  }
  
  .swiper-slide-three {
    background-image: url('../img/hero/img/320/hero_slide_3.png');
  }

  .hero__container {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 79px;
    padding-bottom: 45px;
    max-width: 285px;
  }

  .hero__heading {
    margin-bottom: 14px;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    transform: translate(3px, 0);
  }

  .hero__description {
    margin-bottom: 40px;
    max-width: 265px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    transform: translate(2px, 0);
  }

  .hero__subscribe {
    padding: 9px 17px;
    font-size: 12px;
    line-height: 16px;
  }
}

/* ABOUT */

@media screen and (max-width: 767px) {
  .about {
    margin-bottom: 40px;
  }

  .about__heading {
    margin-bottom: 13px;
    font-size: 28px;
    line-height: 38px;
  }

  .about__description {
    font-size: 14px;
    line-height: 28px;
  }
}

/* GALLERY */

@media screen and (max-width: 767px) {
  .gallery__container {
    padding-top: 50px;
    padding-bottom: 52px;
  }

  .gallery__heading {
    margin-bottom: 13px;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }

  .gallery__content {
    margin-bottom: 40px;
    max-width: 100%;
  }

  .gallery-select-container__title {
    margin-bottom: 5px;
  }

  .gallery__swiper {
    display: flex;
  }

  .gallery__swiper-navigation {
    align-self: center;
    order: 2;
    margin-top: 18px;
    margin-bottom: 0;
  }

  .gallery__swiper {
    margin-bottom: 6px;
  }

  .gallery__swiper .swiper-wrapper {
		height: 367px;
	}

  .gallery .swiper-slide {
		height: 367px;
	}

  .gallery .swiper-slide:hover::before {
		top: 25px;
		left: 20px;
		width: 250px;
		height: 317px;
	}
	
	.gallery .swiper-slide:hover::after {
		top: 135px;
		left: 100px;
	}

  .gallery .swiper-slide:active::before {
		top: 0;
		left: 0;
    width: 250px;
		height: 317px;
		border-top-width: 25px;
    border-bottom-width: 25px;
    border-left-width: 20px;
    border-right-width: 20px;
	}
	
	.gallery .swiper-slide:active::after {
		top: 135px;
		left: 100px;
	}
}

/* CATALOG */

@media screen and (max-width: 767px) {
  .catalog__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 18px;
  }

  .catalog__heading {
    margin-right: 0;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }

  .catalog__button-list {
		padding-top: 10px;
	}

  .catalog__button-list-item:not(:last-child) {
    margin-right: 28px;
  }

  .catalog__button {
    width: 36px;
    height: 36px;
  }

  .catalog__description {
    display: none;
  }

  .not-available__description {
    line-height: 21px;
  }

  .artist-list__img-container {
    margin-bottom: 20px;
  }

  .catalog-artist__img-container {
    margin-bottom: 20px;
  }

  .catalog-artist__name {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  .catalog-artist__age {
    margin-bottom: 6px;
  }

  .ui-accordion .ui-accordion-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .time-table__heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
  }

  .time-table__icon {
    width: 30px;
    height: 30px;
  }
  
  .time-table__icon::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 9.5px;
    width: 7px;
    height: 7px;
  }

  .ui-accordion .ui-accordion-content {
    padding: 20px 0;
  }

  .time-table__list {
    /* flex-wrap: nowrap; */
    height: 810px;
    columns: auto 1;
    column-gap: 0;
  }

  .not-available__img {
    width: 90px;
    height: 130px;
    outline: 6px solid #fff;
    outline-offset: -8px;
  }

  .not-available__heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
  }
  
  .not-available__description-list {
    max-width: 174px;
    font-size: 16px;
    line-height: 21px;
  }
}

/* EVENTS */

@media screen and (max-width: 767px) {
  .events-list {
    display: none;
  }

  .events__all-button {
    display: none;
  }
  
  .events__swiper {
    display: block;
  }

  .events__swiper-wrapper {
    margin-bottom: 20px;
  }

  .events__swiper>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    width: 110px;
  }

  .events__pagination {
    display: block;
    margin: 0 auto;
    width: 110px;
  }

  .events__pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: var(--border-gray);
    opacity: 1;
  }

  .events__swiper>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
  }

  .events__pagination .swiper-pagination-bullet:not(:last-child) {
    margin-right: 15px;
  }

  .events__pagination .swiper-pagination-bullet-active {
    background: var(--gray);
    opacity: 1;
  }
  
  .events__article {
    max-width: 290px;
  }
}