/* HEADER */

@media screen and (max-width: 1200px) {
	.header__container-upper {
		position: relative;
		padding-top: 27px;
		padding-bottom: 27px;
	}

  .header-burger {
		display: block;
		position: relative;
		width: 36px;
		height: 28px;
		transition: all .3s ease-in-out;
		cursor: pointer;
		z-index: 3;
	}

	.header-burger span {
		display: block;
		position: absolute;
		left: 0;
		height: 4px;
		background: #fff;
		transition: all .25s ease-in-out;
	}

	.header-burger span:nth-child(1) {
		width: 36px;
		top: 0;
	}

	.header-burger span:nth-child(2) {
		width: 28px;
		top: 12px;
	}

	.header-burger span:nth-child(3) {
		width: 24px;
		top: 24px;
	}

	.header-burger.active span:nth-child(1) {
		top: 13px;
		left: -3px;
		width: 40px;
		transform: rotate(45deg);
	}

	.header-burger.active span:nth-child(2) {
		transform: scale(0);
	}

	.header-burger.active span:nth-child(3) {
		top: 13px;
		left: -3px;
		width: 40px;
		transform: rotate(-45deg);
	}

	.header__logo {
		flex: 0 0 187px;
		margin-right: 0;
		transform: translate(-4px, 2px);
	}

	.header-upper__form-container {
		display: block;
	}

	.header-upper__form-enable {
		width: 29.5px;
		height: 29.5px;
		background: url('../img/header/search_icon.svg') center / cover no-repeat transparent;
		transform: translate(1px, 2px);
	}

	.header-upper__form-enable.disabled {
		display: none;
	}

	.header-upper__form {
		display: none;
	}

	.header-upper__form.active {
		display: block;
		background-color: var(--graphite);
	}

	.search-box__icon_upper {
		position: relative;
		left: unset;
		width: 29.5px;
		height: 29.5px;
		background: url('../img/header/search_icon.svg') center / cover no-repeat transparent;
	}

	.search-box__input_upper {
		display: inline-block;
		margin-left: 0;
	}

	.search-box__close {
		display: none;
	}

	.header__burger-menu {
		display: none;
		position: absolute;
		top: 0;
		left: -100%;
		flex-direction: column;
		width: 100%;
		padding-top: 96px;
		padding-left: 48px;
		padding-bottom: 51px;
		background-color: rgba(0, 0, 0, 0.9);
		transition: all .3s ease-in-out;
		z-index: 2;
	}

	.header-menu {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 60px;
	}

	.header-menu__item {
		font-size: 24px;
		line-height: 64px;
	}

	.header-menu__item:not(:last-child) {
		margin-right: 0;
		margin-bottom: 0;
	}

	.header__login {
		font-weight: 600;
		padding: 20px 90px;
		border: 2px solid var(--purple);
		border-radius: 100px;
	}

	.header__login:focus:not(:active),
	.header__login:focus:not(:hover) {
		outline: none;
	}

	.header__login:hover {
		color: #fff;
		background: var(--purple);
	}

	.header__login:hover svg path {
		fill: #fff;
	}

	.header__login:active {
		color: #fff;
		background: var(--dark-purple);
	}

	.header__login:active svg path {
		fill: #fff;
}

	.header__burger-menu.active {
		display: block;
		left: 0;
		transition: all .3s ease-in-out;
	}

	.header__lower {
		display: none;
	}
}

/* HERO */

@media screen and (max-width: 1200px) {
	.hero {
		height: 768px;
	}

  .swiper-slide-one {
    background-image: url('../img/hero/img/1024/hero_slide_1.png');
  }
  
  .swiper-slide-two {
    background-image: url('../img/hero/img/1024/hero_slide_2.png');
  }
  
  .swiper-slide-three {
    background-image: url('../img/hero/img/1024/hero_slide_3.png');
  }

  .hero__content {
    max-width: 660px;
    padding-top: 214px;
    padding-bottom: 114px;
  }

	.hero__heading {
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 72px;
		line-height: 83px;
		color: #fff;
	}

  .hero__description {
    margin-bottom: 158px;
  }
}

/* GALLERY */

@media screen and (max-width: 1200px) {
	.gallery__swiper-navigation {
		transform: translate(2px, 4px);
	}

	.gallery__content {
		max-width: 35%;
	}

	.gallery__swiper {
		max-width: 64%;
		transform: translate(-4px, 1px);
	}

	.gallery__swiper .swiper-wrapper {
		height: 594px;
	}

	.gallery .swiper-slide {
		height: 280px;
	}

	.gallery .swiper-slide:hover::before {
		top: 20px;
		left: 20px;
		width: 240px;
		height: 240px;
	}
	
	.gallery .swiper-slide:hover::after {
		top: 100px;
		left: 100px;
	}

	.gallery .swiper-slide:active::before {
		top: 0;
		left: 0;
		width: 240px;
		height: 240px;
		border-width: 20px;
	}
	
	.gallery .swiper-slide:active::after {
		top: 100px;
		left: 100px;
	}
}