/* HEADER */

@media screen and (max-width: 992px) {
  .header-upper__form-enable {
    width: 27px;
		height: 27px;
  }

  .header-upper {
    position: relative;
  }

  .header-upper__form.active {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 5;
  }

  .search-box__icon_upper {
    width: 29px;
    height: 29px;
  }

  .search-box__input {
    max-width: 576px;
    width: 576px;
  }

  .search-box__close {
    display: inline-block;
  }
}

/* HERO */

@media screen and (max-width: 992px) {
  .swiper-slide-one {
    background-image: url('../img/hero/img/768/hero_slide_1.png');
  }
  
  .swiper-slide-two {
    background-image: url('../img/hero/img/768/hero_slide_2.png');
  }
  
  .swiper-slide-three {
    background-image: url('../img/hero/img/768/hero_slide_3.png');
  }
}

/* GALLERY */

@media screen and (max-width: 992px) {
  .gallery__container {
    flex-direction: column;
    padding-bottom: 83px;
  }

  .gallery__content {
    justify-content: initial;
    margin-right: 0;
    margin-bottom: 50px;
    max-width: 280px;
  }

  .choices {
    z-index: 10;
  }

  .choices__list--dropdown {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .gallery__notice_upper {
    display: none;
  }

  .gallery__swiper-navigation {
    margin-top: 0;
    transform: translate(1px, 2px);
  }

  .gallery__swiper {
    max-width: 100%;
    margin-bottom: 17px;
    transform: translate(-1px, 0);
  }

  .gallery__swiper .swiper-wrapper {
		height: 592px;
	}

  .gallery .swiper-slide:hover::before {
		top: 20px;
		left: 25px;
		width: 267px;
		height: 240px;
	}
	
	.gallery .swiper-slide:hover::after {
		top: 100px;
		left: 120px;
	}

  .gallery .swiper-slide:active::before {
		top: 0;
		left: 0;
    width: 267px;
		height: 240px;
		border-top-width: 20px;
    border-bottom-width: 20px;
    border-left-width: 25px;
    border-right-width: 25px;
	}
	
	.gallery .swiper-slide:active::after {
		top: 100px;
		left: 120px;
	}

  .gallery__notice_lower {
    display: block;
  }
}