/* HEADER-UPPER */

.header__upper {
	background-color: #000;
}

.header__container-upper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}

.header__logo {
	flex: 0 0 173px;
}

.header__logo:focus {
	outline: 2px solid var(--dark-purple);
}

.header__logo_img {
	width: 100%;
}

.header-menu {
	display: flex;
	align-items: center;
	margin-right: 85px;
}

.header-menu__item {
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.header-menu__item:not(:last-child) {
	margin-right: 62px;
}

.header-menu__item:focus {
	background: var(--dark-purple);
	outline: 4px solid var(--dark-purple);
}

.header-menu__item:hover {
	color: var(--purple);
}

.header-menu__item:active {
	color: var(--dark-purple);
}

.header__login {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.header__login:focus {
	background: var(--dark-purple);
	outline: 4px solid var(--dark-purple);
}

.header__login:hover {
	color: var(--purple);
}

.header__login:hover svg path {
	fill: var(--purple);
}

.header__login:active {
	color: var(--dark-purple);
}

.header__login:active svg path {
	fill: var(--dark-purple);
}

.header__form-upper {
	display: none;
}

/* HEADER-LOWER */

.header__lower {
	background-color: rgba(0, 0, 0, 0.4);
}

.header__container-lower {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 23px 0;
}

.artstyle-list {
	display: flex;
	align-items: flex-start;
}

.artstyle-list .artstyle-sub-list {
	visibility: visible;
	opacity: 1;
	transition-delay: 0s, 0s;
	cursor: pointer;
}

.artstyle-list__item {
	position: relative;
	margin-right: 97px;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.artstyle-list__item svg {
	position: absolute;
	top: 10px;
}

.artstyle-list__link {
	padding-right: 4px;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.artstyle-sub-list {
	position: absolute;
	left: -40px;
	top: 47px;
	padding: 40px;
	width: 300px;
	max-height: 300px;
	background-color: rgba(0, 0, 0, 0.4);
	visibility: hidden;
	opacity: 0;
	transition-property: opacity, visibility;
	transition-duration: .3s, 0s;
	transition-delay: 0s, .3s;
}

.artstyle-sub-list__item {
	position: relative;
	width: 220px;
	height: 40px;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	background: url('../img/header_sub_list_img.png') center / cover no-repeat transparent;
}

.artstyle-sub-list__item:not(:last-child) {
	margin-bottom: 20px;
}

.artstyle-sub-list__link {
	position: absolute;
	padding: 9px 0 12px 14px;
}

.simplebar-track.simplebar-vertical {
	top: 40px;
	right: 20px;
	width: 2px;
}

.simplebar-vertical {
	width: 2px;
	height: 220px;
	background-color: #000;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar {
	height: 28px !important;
	background-color: #fff;
}

.header__form-lower {
	position: relative;
}

.search-box__icon {
	position: absolute;
	left: 0;
	width: 22.5px;
	height: 22.5px;
	background: url('../img/search_icon.svg') center / cover no-repeat transparent;
}

.search-box__input {
	margin-left: 30px;
	max-width: 218px;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	border: none;
	border-bottom: 1px solid #fff;
	background-color: transparent;
}

.search-box__input::placeholder {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.search-box__input::-moz-placeholder {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.search-box__input:-moz-placeholder {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.search-box__input:-ms-placeholder {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.search-box__input:focus::placeholder {
	color: transparent;
}

.search-box__input:focus::-moz-placeholder {
	color: transparent;
}

.search-box__input:focus:-moz-placeholder {
	color: transparent;
}

.search-box__input:focus:-ms-placeholder {
	color: transparent;
}
