.header {
	z-index: 10;
}

/* HEADER-UPPER */

.header__upper {
	background-color: #000;
}

.header__container-upper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.header-burger {
	display: none;
}

.header__logo {
	flex: 0 0 173px;
	margin-right: 11%;
}

.header__logo:focus {
	outline: 2px solid var(--dark-purple);
}

.header__logo_img {
	width: 100%;
}

.header__burger-menu {
	display: flex;
	justify-content: space-between;
	flex: 2;
}

.header-menu {
	display: flex;
	align-items: center;
}

.header-menu__item {
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.header-menu__link {
	transition: color .3s ease-in-out;
}

.header-menu__item:not(:last-child) {
	margin-right: 62px;
}

.header-menu__link:focus:not(:active),
.header-menu__link:focus:not(:hover) {
	background: var(--dark-purple);
	outline: 5px solid var(--dark-purple);
	outline-offset: -1px;
}

.header-menu__link:hover {
	color: var(--purple);
	transition: color .3s ease-in-out;
}

.header-menu__link:active {
	color: var(--dark-purple);
	transition: color .3s ease-in-out;
}

.header__login {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	transition: color .3s ease-in-out;
	transition: fill .3s ease-in-out;
}

.header__login svg path {
	transition: fill .3s ease-in-out;
}

.header__login:focus:not(:active),
.header__login:focus:not(:hover) {
	background: var(--dark-purple);
	outline: 5px solid var(--dark-purple);
	outline-offset: -1px;
}

.header__login:hover {
	color: var(--purple);
	transition: color .3s ease-in-out;
}

.header__login:hover svg path {
	fill: var(--purple);
	transition: fill .3s ease-in-out;
}

.header__login:active {
	color: var(--dark-purple);
	transition: color .3s ease-in-out;
}

.header__login:active svg path {
	fill: var(--dark-purple);
	transition: fill .3s ease-in-out;
}

.header__form-upper {
	display: none;
}

/* HEADER-LOWER */

.header__lower {
	background-color: rgba(0, 0, 0, 0.4);
}

.header__container-lower {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 23px;
	padding-bottom: 23px;
}

.artstyle-list {
	display: flex;
	align-items: flex-start;
}

.artstyle-list .artstyle-sub-list {
	z-index: 1;
}

.artstyle-list__item {
	position: relative;
	margin-right: 97px;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.artstyle-list__link {
	padding-right: 16px;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	transition: color 0.3s ease-in-out;
}

.artstyle-list__link .artstyle-list__icon path {
	transition: stroke 0.3s ease-in-out;
}

.artstyle-list__icon {
	position: absolute;
	top: 10px;
	right: 0;
	transition: all 0.3s ease-in-out;
}

.artstyle-list__link:focus:not(:active),
.artstyle-list__link:focus:not(:hover) {
	background: var(--dark-purple);
	outline: 5px solid var(--dark-purple);
	outline-offset: -1px;
}

.artstyle-list__link:hover {
	color: var(--purple);
	transition: color 0.3s ease-in-out;
}

.artstyle-list__link:hover .artstyle-list__icon path {
	stroke: var(--purple);
	cursor: pointer;
	transition: stroke 0.3s ease-in-out;
}

.active-art-list-item:not(:hover) {
	color: var(--dark-purple);
	transition: color 0.3s ease-in-out;
}

.active-art-list-item svg{
	transform: rotate(180deg);
	transition: all 0.3s ease-in-out;
}

.active-art-list-item svg path {
	stroke: var(--dark-purple);
	transition: all 0.3s ease-in-out;
}

.artstyle-sub-list {
	position: absolute;
	left: -40px;
	top: 47px;
	padding: 40px;
	width: 300px;
	max-height: 300px;
	background-color: rgba(0, 0, 0, 0.4);
	visibility: hidden;
	opacity: 0;
	transition-property: opacity, visibility;
	transition-duration: .3s, 0s;
	transition-delay: 0s, .3s;
	z-index: -1;
}

.active-sub-list {
	visibility: visible;
	opacity: 1;
	transition-delay: 0s, 0s;
	cursor: pointer;
}

.artstyle-sub-list__item {
	position: relative;
	width: 220px;
	height: 40px;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.artstyle-sub-list__item:focus:not(:active),
.artstyle-sub-list__item:focus:not(:hover) {
	outline: 2px solid var(--purple);
	outline-offset: -2px;
}

.artstyle-sub-list__item:hover {
	outline: 2px solid var(--purple);
	outline-offset: -2px;
}

.artstyle-sub-list__item:active {
	box-shadow: inset 0 0 0 1000px rgba(194, 131, 243, 0.4);
	outline: 2px solid var(--light-purple);
	outline-offset: -2px;
}

.artstyle-sub-list__item:not(:last-child) {
	margin-bottom: 20px;
}

.artstyle-sub-list__item_tintoretto {
	background-image: url('../img/header_sub_list_tintoretto.png');
}

.artstyle-sub-list__item_frederick {
	background-image: url('../img/header_sub_list_frederick.png');
}

.artstyle-sub-list__item_leonardo {
	background-image: url('../img/header_sub_list_leonardo.png');
}

.artstyle-sub-list__item_verrocchio {
	background-image: url('../img/header_sub_list_verrocchio.png');
}

.artstyle-sub-list__item_monet {
	background-image: url('../img/header_sub_list_monet.png');
}

.artstyle-sub-list__item_sisley {
	background-image: url('../img/header_sub_list_sisley.png');
}

.artstyle-sub-list__item_manet {
	background-image: url('../img/header_sub_list_manet.png');
}

.artstyle-sub-list__item_renoir {
	background-image: url('../img/header_sub_list_renoir.png');
}

.artstyle-sub-list__item_van-gogh {
	background-image: url('../img/header_sub_list_van-gogh.png');
}

.artstyle-sub-list__item_cezanne {
	background-image: url('../img/header_sub_list_cezanne.png');
}

.artstyle-sub-list__item_gauguin {
	background-image: url('../img/header_sub_list_gaugin.png');
}

.artstyle-sub-list__item_seurat {
	background-image: url('../img/header_sub_list_seurat.png');
}

.artstyle-sub-list__item_kandinsky {
	background-image: url('../img/header_sub_list_kandinsky.png');
}

.artstyle-sub-list__item_marinetti {
	background-image: url('../img/header_sub_list_marinetti.png');
}

.artstyle-sub-list__item_malevich {
	background-image: url('../img/header_sub_list_malevich.png');
}

.artstyle-sub-list__item_picasso {
	background-image: url('../img/header_sub_list_picasso.png');
}

.artstyle-sub-list__item_carra {
	background-image: url('../img/header_sub_list_carra.png');
}

.artstyle-sub-list__item_pratella {
	background-image: url('../img/header_sub_list_pratella.png');
}

.artstyle-sub-list__item_severini {
	background-image: url('../img/header_sub_list_severini.png');
}

.artstyle-sub-list__item_balla {
	background-image: url('../img/header_sub_list_balla.png');
}

.artstyle-sub-list__link {
	position: absolute;
	padding: 9px 0 12px 14px;
}

.simplebar-track.simplebar-vertical {
	top: 40px;
	right: 20px;
	width: 2px;
}

.simplebar-vertical {
	width: 2px;
	height: 220px;
	background-color: #000;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar {
	background-color: #fff;
}

.header__form-lower {
	position: relative;
}

.search-box__icon {
	position: absolute;
	left: 0;
	width: 22.5px;
	height: 22.5px;
	background: url('../img/search_icon.svg') center / cover no-repeat transparent;
}

.search-box__input {
	margin-left: 30px;
	max-width: 218px;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	border: none;
	border-bottom: 1px solid #fff;
	background-color: transparent;
	transition: border-bottom .3s ease-in-out;
}

.search-box__input:focus:not(:active),
.search-box__input:focus:not(:hover) {
	border-bottom: 1px solid var(--dark-purple);
	transition: border-bottom .3s ease-in-out;
}

.search-box__input:hover {
	border-bottom: 1px solid var(--lavender);
	transition: border-bottom .3s ease-in-out;
}

.search-box__input::placeholder {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.search-box__input::-moz-placeholder {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.search-box__input:-moz-placeholder {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.search-box__input:-ms-placeholder {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.search-box__input:focus::placeholder {
	color: transparent;
}

.search-box__input:focus::-moz-placeholder {
	color: transparent;
}

.search-box__input:focus:-moz-placeholder {
	color: transparent;
}

.search-box__input:focus:-ms-placeholder {
	color: transparent;
}

@media screen and (max-width: 1400px) {
	.header__container-upper {
		position: relative;
	}

  .header-burger {
		display: block;
		position: relative;
		width: 36px;
		height: 28px;
		transition: all .3s ease-in-out;
		cursor: pointer;
		z-index: 3;
	}

	.header-burger span {
		display: block;
		position: absolute;
		left: 0;
		height: 4px;
		background: #fff;
		transition: all .25s ease-in-out;
	}

	.header-burger span:nth-child(1) {
		width: 36px;
		top: 0;
	}

	.header-burger span:nth-child(2) {
		width: 28px;
		top: 12px;
	}

	.header-burger span:nth-child(3) {
		width: 24px;
		top: 24px;
	}

	.header-burger.active span:nth-child(1) {
		top: 13px;
		left: -3px;
		width: 40px;
		transform: rotate(45deg);
	}

	.header-burger.active span:nth-child(2) {
		transform: scale(0);
	}

	.header-burger.active span:nth-child(3) {
		top: 13px;
		left: -3px;
		width: 40px;
		transform: rotate(-45deg);
	}

	.header__logo {
		flex: 0 0 187px;
		margin-right: 0;
	}

	.header__form-upper {
		display: block;
	}

	.header__form-upper.active {
		background-color: var(--graphite);
	}

	.search-box__icon_upper {
		position: relative;
		left: unset;
		width: 29.5px;
		height: 29.5px;
	}

	.search-box__input_upper {
		display: none;
		margin-left: 0;
	}

	.search-box__input_upper.active {
		display: inline-block;
	}

	.search-box__closed {
		display: none;
	}

	.header__burger-menu {
		display: none;
		position: absolute;
		top: 0;
		left: -100%;
		flex-direction: column;
		width: 100%;
		height: 768px;
		padding-top: 96px;
		padding-left: 48px;
		padding-bottom: 51px;
		background-color: rgba(0, 0, 0, 0.9);
		transition: all .3s ease-in-out;
		z-index: 2;
	}

	.header-menu {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 80px;
	}

	.header-menu__item {
		font-size: 24px;
		line-height: 64px;
	}

	.header-menu__item:not(:last-child) {
		margin-right: 0;
		margin-bottom: 5px;
	}

	.header__login {
		font-weight: 600;
		padding: 20px 90px;
		border: 2px solid var(--purple);
		border-radius: 100px;
	}

	.header__login:focus:not(:active),
	.header__login:focus:not(:hover) {
		outline: none;
	}

	.header__login:hover {
		color: #fff;
		background: var(--purple);
	}

	.header__login:hover svg path {
		fill: #fff;
	}

	.header__login:active {
		color: #fff;
		background: var(--dark-purple);
	}

.header__login:active svg path {
		fill: #fff;
}

	.header__burger-menu.active {
		display: block;
		left: 0;;
		transition: all .3s ease-in-out;
	}

	.header__lower {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.header-burger.closed {
		display: none;
	}

	.header__logo.closed {
		display: none;
	}

	.header__form-upper.active {
		max-width: 678px;
		height: 46px;
		background-color: #000;
	}

  .search-box__icon_upper {
		width: 27px;
		height: 27px;
	}

	.search-box__input_upper {
		max-width: 576px;
	}

	.header__form-upper.active .search-box__closed {
		display: inline-block;
	}
}

@media screen and (max-width: 400px) {
  .header__container-upper {
		padding-top: 12px;
		padding-bottom: 12px;
	}

	.header-burger {
		width: 25px;
		height: 18px;
	}

	.header-burger span {
		height: 2px;
	}

	.header-burger span:nth-child(1) {
		width: 25px;
		top: 0;
	}

	.header-burger span:nth-child(2) {
		width: 16px;
		top: 8px;
	}

	.header-burger span:nth-child(3) {
		width: 10px;
		top: 16px;
	}

	.header-burger.active span:nth-child(1) {
		top: 8px;
		width: 27px;
	}

	.header-burger.active span:nth-child(3) {
		top: 8px;
		width: 27px;
	}

	.header__logo {
		flex: 0 0 97px;
	}

	.search-box__icon_upper {
		position: relative;
		left: unset;
		width: 18px;
		height: 18px;
	}
}